@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  background-color: #eaaf46;
  padding: 15px 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 400px) {
  .header__body {
    display: block;
    text-align: center;
  }
}
.header__logo {
  flex: 0 1 320px;
  position: relative;
  z-index: 5;
}
.header__logo img {
  max-width: 100%;
}
@media (max-width: 800px) {
  .menu__icon {
    display: block;
    position: relative;
    z-index: 20;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease 0s;
  }
  .menu__icon.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .menu__icon.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .menu__icon.active span {
    transform: scale(0);
  }
}
@media (max-width: 400px) {
  .menu__icon {
    margin: 0 auto;
  }
}
@media (max-width: 800px) {
  .menu__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 130px 0px 0px 0px;
    transition: all 0.5s ease 0s;
  }
  .menu__body.active {
    top: 0;
  }
}
@media (max-width: 400px) {
  .menu__body {
    padding: 160px 0px 0px 0px;
  }
}
.menu__list {
  display: flex;
  align-items: center;
}
@media (max-width: 800px) {
  .menu__list {
    display: block;
    text-align: center;
  }
  .menu__list li {
    margin: 0px 0px 25px 0px !important;
  }
}
.menu__list li {
  margin: 0px 0px 0px 25px;
}
.menu__link {
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  letter-spacing: 2.4px;
  color: #fff;
  text-transform: uppercase;
}
.menu__link:hover {
  text-decoration: underline;
}

.news {
  padding: 20px 0px 20px 0px;
  background-color: #fff;
}
.news__content {
  text-align: center;
}
.news__title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  line-height: 80px;
  color: #eaaf46;
  text-transform: uppercase;
}
.news__subtitle {
  font-weight: bold;
  margin: 0px 0px 30px 0px;
}
.slider {
  position: relative;
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
  background-color: #000;
}
@media (max-width: 800px) {
  .slider .slick-arrow {
    display: none;
  }
}
.slider .slick-arrow.slick-prev {
  left: 0;
  background: url(../img/icons/002-left-arrow.svg) 0 0/100% no-repeat;
}
.slider .slick-arrow.slick-next {
  right: 0;
  background: url(../img/icons/001-right-arrow.svg) 0 0/100% no-repeat;
}
/*Slider*/
/*wrapper for slider*/
.slick-list {
  overflow: hidden;
}

/*track of slides*/
.slick-track {
  display: flex;
  text-align: center;
}

/* slide */
/* active slide */
/*main slide*/
/*center slide*/
/*arrow*/
/*arrow left*/
/*arrow right*/
/*arrow disabled*/
/*dots*/
.content {
  padding: 40px 0px;
}
.content__title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  color: #000;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;
}
.content__item {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 760px) {
  .content__item {
    display: block;
  }
}
.content__item:nth-child(even) .content__decr {
  order: 1;
}
.content__item:nth-child(even) .content__img {
  order: 2;
}
.content__img {
  flex: 0 1 48%;
  margin: 0px 2% 0px 0px;
}
@media (max-width: 760px) {
  .content__img {
    padding: 0px 0px 300px 0px;
  }
}
.content__descr {
  flex: 0 1 50%;
  padding: 80px 0px 0px 0px;
}
@media (max-width: 760px) {
  .content__descr {
    padding: 30px 0px 0px 0px;
  }
}
@media (max-width: 460px) {
  .content__descr {
    padding: 15px 0px 0px 0px;
  }
}

.descr__title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  color: #000;
  text-transform: uppercase;
  margin: 30px 0px 30px 0px;
}
@media (max-width: 460px) {
  .descr__title {
    margin: 15px 0px 15px 0px;
  }
}
.descr__text {
  line-height: 25px;
}
.btn {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  border-radius: 8px;
  letter-spacing: 1.5px;
  padding: 0px 40px 0px 40px;
  background-color: #eaaf46;
  font-family: "Bebas Neue", sans-serif;
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
  margin: 25px 0px 0px 0px;
  cursor: pointer;
}

.social {
  padding: 30px 0px 20px 0px;
  background-color: #eaaf46;
  text-align: center;
}
.social__title {
  margin-bottom: 10px;
}
.social__row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__item {
  flex: 0 1 30px;
  height: 30px;
  margin: 0px 10px 0px 10px;
}

.footer {
  background-color: #fff;
  padding: 25px 0px 40px 0px;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__list li {
  margin: 0px 10px 0px 10px;
}
.footer__item {
  font-size: 16px;
  color: #000;
  font-family: "Arial", sans-serif;
}
.footer__item:hover {
  text-decoration: underline;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  color: #000;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}